

.header{
    background-color: #ff0000;
    height: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px 0px;
    background-color: #4b1818;
}



.image {
    display: block;
    margin: 0 auto;
    width: 800px;
    
    
}

.displayName{
    text-align: center;
    font-size: 18px;
}

.Category, .phones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 114, 114);
    height: 200px;
    flex: 1;
}

.category-image , .phone-image{
    background-color: white;
    height: 150px;
    width:  150px;
    border-radius: 50%;
}

.displayphone
{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.phones{
    background-color: blueviolet;
    height: 350px;
}

.phone-image{
    border-radius: 0;
    height: 200px;
}

.new-launch{
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 400px;
    justify-content: space-around;
}

.buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        height: 150px;
        background-color: blue;
        align-items: center;
}

.button{
    padding: 20px 40px;
}

.footer{
    background-color: black;
    height: 500px;
}
