.header{
    background-color: #400880d7;
    height: 60px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 20px 0px;
    background-color: #000000;
}

nav a{
    color: white;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #ffc219;
}

.image1{
    padding: 20px 0px;
    width:100%
}

.image1 img{
    width: 195vh; 
    cursor: pointer;

}

.image {
    display: block;
    margin: 5px auto;
    width: 850px;
}

.image video{
    width: 850px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px black;
}

.image:hover{
    cursor: pointer;
}

.displayName{
    text-align: center;
    font-size: 18px;
}

.Category, .phones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 200px;

}

.category-image , .phone-image{    
    height: 150px;
    width:  150px;
}

.category-image img{
object-fit: fill;
width: 150px;
border-radius: 50%;
}


.category-image img:hover, .phone-image:hover{
cursor: pointer;
transform: scale(1.1);
transition: all 0.3s ease-in-out;
}

.phone-image img{
    width: 150px;
}


    
.displayphone
{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
}

.phones{
    height: 350px;
}

.phone-image{
    display: flex;
    border-radius: 0;
    height: 250px;
    width: 200px;
    justify-content: center; 
    align-items: center;
flex-direction: column;
box-shadow: 1px 5px 10px black;

}

.detials{
    color: black;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
}

.detials .small{
    text-decoration: line-through;
}

.new-launch{
    display: flex;
    flex-direction: row;
    background-color: red;
    height: 400px;
    justify-content: space-around;
}

.buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
        height: 150px;
        background-color: blue;
        align-items: center;
}

.button{
    padding: 20px 40px;
}

.footer{
    background-color: black;
    height: 500px;
}
